i.header_right_icon{
  max-width: 100%;
  height: auto;
  max-height: 100%;
  color: $border-grey;
  margin-right: 10px;
  width: 19px; 
  font-size: 19px;

}

i.camera{
  color: $white;
  font-size: 54px;
}
i.twitter_icon{
font-size: 2.8em;
width: 30px;
margin-right: 20px;
}
i.facebook_icon{
font-size: 2.8em;
width: 30px;
margin-right: 20px;
}
i.items_icons__facebook{
color: $white;
font-size: 2.5em;
}
i.items_icons__twitter{
  color:$white;
  font-size: 2em;
}
i.items_icons__line{
  color:$white;
  font-size: 2em;
}
i.items_icons__pinterest{
  color: $white;
  font-size: 1.5em;
}
i.item_page_bottom_merkari__right{
    top: 3px;
}