i.header_right_icon{
  max-width: 100%;
  height: auto;
  max-height: 100%;
  color: $border-grey;
  margin-right: 10px;
  width: 19px; 
  font-size: 19px;

}

i.camera{
  color: $white;
  font-size: 54px;
}