img.mercari{
  height: 36px;
  width: 134px;
  object-fit: cover;
  vertical-align: middle 
  }
  
  img.user_icon{
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
  }
  img.merkari_box{
    height: 68px;
    margin-right: 20px;
    width: 68px;
  }
  
  img.iphone{
    height: 260px;
  width: 300px;
  }
  img.bottom{
    height: 260px;
    width: 100%;
}

img.mypage-haikei {
  height: 200px;
  width: 700px;
}
img.laugh_icon{
  width: 16px;
  height: 16px;
  object-fit: cover;
}
img.meh_icon{
  width: 16px;
  height: 16px;
  object-fit: cover;
}
img.frown_icon{
  width: 16px;
  height: 16px;
  object-fit: cover;
}
img.card{
  height: 100%;
}
img.details__photo__main__image{
  width: 300px;
}