.sign-container
  %header.sign-header
    %h1
      = link_to image_tag('mercari.png', class:'mercari'), root_path
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li.through
          会員情報
          .progress-status
        %li.through
          電話番号認証
          .progress-status
        %li.through
          お届け先住所入力
          .progress-status
        %li.active
          支払い方法
          .progress-status
        %li
          完了
          .progress-status.after-del
  %main
    %section.l-single-container
      %h2.registration.l-single-head
        支払い方法

  %footer.single-footer
    %nav.footernav
      %ul
        %li
          プライバシーポリシー
        %li
          メルカリ利用規約
        %li
          特定商取引に関する表記
    = link_to image_tag('logo-gray.svg', class:'greymercari'), root_path, class: "footerlogo"
    %p
      © 2019 Mercari