= render 'items/header'
%nav.bread-crumbs
  %ul
    %li
      %span メルカリ
      %i.icon-arrow-right
    %li
      %span マイページ
%main.mypage-container.clearfix
  .mypage-content
    %section.mypage-user-icon
      %a
        %figure 
        %h2.bold suzuki
        .mypage-number
          %div
            評価
            %span.bold 0
          %div
            出品数
            %span.bold 0
    %section.mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li.active
          %h3
            %a
              お知らせ
        %li
          %h3
            %a
              やることリスト
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
          %li
            %a.mypage-item-link
              %figure
                %img.lazyloaded
              .mypage-item-body
                .mypage-item-text
                %time
                  %i.icon-time
                  %span
              %i.icon-arrow-right
          %li
            %a.mypage-item-link
              %figure
                %img.lazyloaded
              .mypage-item-body
                .mypage-item-text
                %time
                  %i.icon-time
                  %span
              %i.icon-arrow-right
          %li
            %a.mypage-item-link
              %figure
                %img.lazyloaded
              .mypage-item-body
                .mypage-item-text
                %time
                  %i.icon-time
                  %span
              %i.icon-arrow-right
          %li
            %a.mypage-item-link
              %figure
                %img.lazyloaded
              .mypage-item-body
                .mypage-item-text
                %time
                  %i.icon-time
                  %span
              %i.icon-arrow-right
          %li
            %a.mypage-item-link
              %figure
                %img.lazyloaded
              .mypage-item-body
                .mypage-item-text
                %time
                  %i.icon-time
                  %span
              %i.icon-arrow-right
          %li.mypage-go-list
            %a 一覧を見る
    %section.mypage-tab-container
    %h2.mypage-tab-head 購入した商品
    %ul.mypage-tabs
      %li.active
        %h3
          %a
            取引中
      %li
        %h3
          %a
            過去の取引
    .tab-content
      %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
        %li.mypage-item-not-found.bold 取引中の商品がありません

  = render 'mypage-side'
= render 'items/footer'