= render 'items/header'
= render 'items/exhibit'
%nav.bread-crumbs
  %ul
    %li
      %span メルカリ
      %i.icon-arrow-right
    %li
      %span マイページ
      %i.icon-arrow-right
    %li
      %span ログアウト
%main.mypage-container.clearfix
  .l-content
    .l-chapter-container
      %form.l-single-inner
        .l-single-content
          %button.btn-default.btn-red ログアウト
  = render 'mypage-side'
= render 'items/footer'