.bottoms
  =image_tag 'bottom.png',class: 'bottom'
  .bottom.flex
    .bottom_left
      .bottom_left__top
        スマホでかんたんフリマアプリ
      .bottom_left__center
        今すぐ無料ダウンロード！
      .bottom_left__bottom.flex
        .bottom_left__bottom__merkari
          = image_tag 'merkari_box.png',class:'merkari_box'
        .bottom_left__bottom__app
          =image_tag 'app.svg'
        .bottom_left__bottom__google
          =image_tag 'google.svg'
    .bottom_right
      =image_tag 'iphone.png',class: 'iphone'
.footer
  .footer_box.flex
    .footer_box__merkari
      .footer_box__merkari__title
        メルカリについて
      .footer_box__merkari__content
        .footer_box__merkari__content__text
          会社概要（運営会社）
        .footer_box__merkari__content__text
          採用情報
        .footer_box__merkari__content__text
          プレスリリース
        .footer_box__merkari__content__text
          公式ブログ
        .footer_box__merkari__content__text
          メルカリロゴ利用ガイドライン
    .footer_box__help
      .footer_box__help__title
        ヘルプ＆ガイド
      .footer_box__help__content
        .footer_box__help__content__text
          メルカリガイド
        .footer_box__help__content__text
          らくらくメルカリ便
        .footer_box__help__content__text
          ゆうゆうメルカリ便
        .footer_box__help__content__text
          大型メルカリ便
        .footer_box__help__content__text
          車体取引ガイド
        .footer_box__help__content__text
          メルカリあんしん・あんぜん宣言
        .footer_box__help__content__text
          偽ブランド品撲滅への取り組み
        .footer_box__help__content__text
          メルカリボックス
    .footer_box__privacy
      .footer_box__privacy__title
        プライバシーと利用規約
      .footer_box__privacy__content
        .footer_box__privacy__content__text
          プライバシーポリシー
        .footer_box__privacy__content__text
          メルカリ利用規約
        .footer_box__privacy__content__text
          あんしんスマホサポート制度に関する利用規約
        .footer_box__privacy__content__text
          コンプライアンスポリシー
      .footer_box__privacy__content
        .footer_box__privacy__content__text
          個人データの安全管理に係わる基本方針
        .footer_box__privacy__content__text
          特定商取引に関する表記
        .footer_box__privacy__content__text
          資金決済法に基づく表示
        .footer_box__privacy__content__text
          法令順守と犯罪抑止のために
    .footer_box__kuni
      .footer_box__kuni__title
        国
      .footer_box__kuni__content
        .footer_box__kuni__content__text
          日本
        .footer_box__kuni__content__text
          United States
  .footer_icon
    =image_tag 'merkari_white.svg'
    .footer_icon__text
      © 2019 Mercari