.header
  .headers
    .headers__up.flex
      .headers__up__image 
        = image_tag 'mercari.png' ,class:'mercari'
      .headers__up__search
        何かお探しですか？
        .headers__up__search__btn
          .headers__up__search__btn__icon
            あ
    .headers__bottom
      .headers__bottom__left.flex
        .headers__bottom__left__category
          .headers__bottom__left__category__icon
            aa
          .headers__bottom__left__category__text
            カテゴリーから探す
        .headers__bottom__left__brand
          .headers__bottom__left__brand__icon
            aa
          .headers__bottom__left__brand__text
            ブランドから探す
      .headers__bottom__right.flex
        .headers__bottom__right__like
          .headers__bottom__right__like__icon
          .headers__bottom__right__like__text
            =link_to'いいね！一覧'
        .headers__bottom__right__info
          .headers__bottom__right__info__icon
          .headers__bottom__right__info__text
            =link_to'お知らせ'
        .headers__bottom__right__list.flex
          .headers__bottom__right__list__icon
          .headers__bottom__right__list__text
            =link_to 'やることリスト'
        .headers__bottom__right__mypage.flex
          .headers__bottom__right__mypage__image
            =image_tag 'user_icon.png',class:'user_icon'
          .headers__bottom__right__mypage__text
            =link_to 'マイページ'