.item_list_box_item
  =link_to item_path(item) do
    .item_list_box_item__image
      = image_tag item.images[-1].image_url.url
      -if  item.buyer_id.present? 
        .items-box_photo__sold
          .items-box_photo__sold__inner
            SOLD
      .image_price
        .image_price__enn
          ¥
        .image_price__num
          = item.price.to_i
    .item_list_box_item__text
      = item.description