.item_lists
  .item_list
    .item_list_box
      .item_list_box__title
        レディース新着アイテム
      .item_list_box__meny
        もっと見る 
        =fa_icon 'angle-right'
  .item_list_box__content
    .item_list_box_item
      .item_list_box_item__image
        .image_price
          .image_price__enn
            ¥
          .image_price__num
            1001
      .item_list_box_item__text
        Tシャツ
    .item_list_box_item
      .item_list_box_item__image
        .image_price
          .image_price__enn
            ¥
          .image_price__num
            1002
      .item_list_box_item__text
        Tシャツ
    .item_list_box_item
      .item_list_box_item__image
        .image_price
          .image_price__enn
            ¥
          .image_price__num
            1003
      .item_list_box_item__text
        Tシャツ
    .item_list_box_item
      .item_list_box_item__image
        .image_price
          .image_price__enn
            ¥
          .image_price__num
            1004
      .item_list_box_item__text
        Tシャツ
    .item_list_box_item
      .item_list_box_item__image
        .image_price
          .image_price__enn
            ¥
          .image_price__num
            1005
      .item_list_box_item__text
        Tシャツ
    .item_list_box_item
      .item_list_box_item__image
        .image_price
          .image_price__enn
            ¥
          .image_price__num
            1006
      .item_list_box_item__text
        Tシャツ
    .item_list_box_item
      .item_list_box_item__image
        .image_price
          .image_price__enn
            ¥
          .image_price__num
            1007
      .item_list_box_item__text
        Tシャツ
    .item_list_box_item
      .item_list_box_item__image
        .image_price
          .image_price__enn
            ¥
          .image_price__num
            1008
      .item_list_box_item__text
        Tシャツ
    .item_list_box_item
      .item_list_box_item__image
        .image_price
          .image_price__enn
            ¥
          .image_price__num
            1009
      .item_list_box_item__text
        Tシャツ
    .item_list_box_item
      .item_list_box_item__image
        .image_price
          .image_price__enn
            ¥
          .image_price__num
            1010
      .item_list_box_item__text
        Tシャツ
      

