.sign-container
  %header.sign-header
    %h1#startlogo
      = link_to image_tag('mercari.png', class:'mercari'), root_path, class: "head-a"
  %main.single-main
    %section.l-single-container
      %h2.registration
        購入内容の確認
      .l-single-inner
        .l-single-content
          .purchase_image
          .purchase_title
            タイトスカート
          .purchase_content
            .purchase_content__price
              .purchase_content__price__left
                ¥700
              .purchase_content__price__right
                送料込み
            .purchase_content__point
              .purchase_content__point__text
                ポイントはありません
            .purchase_content__prices
              .purchase_content__prices__left
                支払い金額
              .purchase_content__prices__right
                ￥700
            .purchase_content__red.clearfix
              配送先と支払い方法の入力を完了して下さい。
            .purchase_content__btn
              =link_to root_path do
                購入する
        .purchase_address
          .purchase_address__content
            .purchase_address__content__top
              配送先
            .purchase_address__content__bottom
              .purchase_address__content__top__num
                〒000-000
              .purchase_address__content__top__add
                愛知県半田市○◯町0-0-0
              .purchase_address__content__top__name
                廣田亜由美
            .purchase_address__content__btn
              変更する ＞
        .purchase_pay
          .purchase_address__content
            .purchase_address__content__top
              支払い方法
            .purchase_address__content__bottom
              .purchase_address__content__top__card
                ***********001
              .purchase_address__content__top__day
                09/21
              .purchase_address__content__top__cardname
                VISA
                
            .purchase_address__content__btn
              変更する　＞

  %footer.single-footer
    %nav.footernav
      %ul.clearfix
        %li
          プライバシーポリシー
        %li
          メルカリ利用規約
        %li
          特定商取引に関する表記
    = link_to image_tag('logo-gray.svg', class:'greymercari'), root_path, class: "footerlogo"
    %p
      © 2019 Mercari