= render 'header'
.iteme_page_main
  .iteme_page_main__name
    商品詳細
  .iteme_page_main__view
  .iteme_page_main__price
    .iteme_page_main__price__yen
    .iteme_page_main__price__tex
    .iteme_page_main__price__postage
-# = render 'footer'