
.bottoms{
  height: 260px;
  color: $white;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
  position: relative;
}
.bottom{
  width: 750px;
  margin: 0px auto;
  height: 100%;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
}

.bottom_left{
  margin: auto;
&__top{
  color: $white;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
&__center{
  color: $white;
  font-size: 35px;
  margin-bottom: 20px;
}
}

.bottom_left__bottom{
  &__merkari{
    height: 68px;
    margin-right: 20px;
    width: 68px;
  }
  &__app{
  height: 40px;
  margin-right: 8px;
  width: 136px;
  }
  &__google{
    height: 40px;
    width: 136px;
  }
}


.bottom_right{
  
  height: 260px;
  width: 300px;
}
.footer{
  background-color: $black;
    color: $white;
    font-size: 12px;
    padding: 0px 20px 10px;
    height: 389px;
}