.images_up_contents{
  margin: 0 0 10px 10px;
  display: inline-block;
  vertical-align: top;
  img{
    width: 100px;
  }
  &__up{
    display: none;
  }
  &__bottom{
    font-size: 14px;
    &__left{
      display: inline-block;
      background: #f5f5f5;
      line-height: 44px;
      text-align: center;
      width: 50%;
      color:$blue;
    }
    &__right{
      display: inline-block;
      width: 50%;
      background: #f5f5f5;
      line-height: 44px;
      text-align: center;
      border-left: 1px solid #eee;
      color:$blue;
    }
  }
}
.add-box{
  vertical-align: top;
}
.hit{
  display: none;
}