.settings-add-card {
  padding: 24px 0;
  border-bottom: 1px solid #eee;
}
.settings-not-regist {
  display: block;
  margin: 40px 0 0;
  text-align: right;
  a {
  color: #0099e8;
  text-decoration: none;
    }
}
.down-icon {
  font-size: 10px;
  margin: 0 6px 0 -15px;
  position: relative;
  right: 16px;
  pointer-events: none;
  color: #888;
  top: 5px;
}
.down-icon2 {
  font-size: 10px;
  margin: 0 6px 0 -15px;
  position: relative;
  right: 16px;
  pointer-events: none;
  color: #888;
  top: 50px;
  float: right;
}
.settings-payment-list li {
  padding: 24px 0;
  border-bottom: 1px solid #eee;
}
.settings-payment-list li form {
  position: relative;
}
.settings-payment-remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 6px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ea352d;
  color: #ea352d;
}
.card-logo {
  width: 49px;
  vertical-align: middle;
}
.settings-payment-num {
  margin: 8px 0 0;
  font-size: 16px;
}