.bold{
  font-weight: 600;
}
  .mypage-container {
    margin: 40px auto 0;
    width: 1020px;
    padding: 0 0 40px;
  }
    .mypage-content {
      float: right;
      width: 700px;
    }
      .mypage-user-icon {
        position: relative;
        height: 160px;
        padding: 20px;
        // background-image: 'mypage-haikei.jpg';
        background-image: url( "mypage-haikei.jpg");
        // background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
      }
        .mypage-user-icon>a {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          color: #333;
        }
          .mypage-user-icon figure {
            overflow: hidden;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;
          }
          .img {
          vertical-align: middle;
          }
            .mypage-user-icon h2 {
              margin: 8px 0 0;
              font-size: 14px;
            }
          .mypage-number {
            margin: 8px 0 0;
            font-size: 0;
          }
            .mypage-number div {
              display: inline-block;
              font-size: 14px;
          }
            .mypage-number span {
              margin: 0 0 0 8px;
              font-size: 16px;
          }
            .mypage-number div+div {
              margin: 0 0 0 16px;
          }
    .mypage-tab-container-notification-todo {
      margin: 0;
      background: #fff;
      }
      .mypage-tabs, .listing-tabs, .review-history-tabs {
        border: 0;
        background: #eee;
        font-size: 0;
      }
        .mypage-tabs li {
          width: 50%;
        }
          .mypage-tabs li, .listing-tabs li, .review-history-tabs li {
            display: inline-block;
            text-align: center;
            vertical-align: top;
        }
          .mypage-tabs li.active, .listing-tabs li.active, .review-history-tabs li.active {
            background: #fff;
        }
            .h3 {
              font-size: 22px;
            }
        .mypage-tabs a, .listing-tabs a, .review-history-tabs a {
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
        }
          .mypage-tabs li.active a, .listing-tabs li.active a, .review-history-tabs li.active a {
            border-top: 2px solid #ea352d;
        }
      .tab-content .tab-pane {
        display: none;
      }
      .tab-content .tab-pane.active {
        display: block;
      }
      .mypage-item-list li {
        position: relative;
        border-bottom: 1px solid #eee;
      }
      .mypage-item-list li:first-child {
        border-bottom: 1px solid #eee;
      }
      .mypage-item-list li:last-child {
        border: 0;
      }
      .mypage-go-list a {
        display: block;
        height: 56px;
        margin: 0 auto;
        background: #eee;
        color: #333;
        line-height: 56px;
        text-align: center;
      }
      .mypage-item-link {
        display: block;
        min-height: 80px;
        padding: 16px;
        color: #333;
      }
      .mypage-item-link figure {
        position: relative;
        overflow: hidden;
        float: left;
        width: 48px;
        height: 48px;
      }
      .mypage-item-list img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
      }
        .lazyloaded {
          opacity: 1;
          -webkit-transition: opacity .3s;
          transition: opacity .3s;
      }
      .mypage-item-body {
        margin: 0 40px 0 68px;
      }
      .mypage-item-text {
        overflow: hidden;
        display: block;
        display: -webkit-box;
        max-height: 4.4em;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        line-height: 1.5;
      }
      .mypage-item-link time {
        display: inline-block;
        color: #888;
      }

.mypage-container__side {
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  .mypage-nav{
    &-head{
      margin-top: 40px;
      font-size: 16px;
      }
    &-list{
        border-top: 1px solid #eee;
        .mypage-nav-list-item{
          box-sizing: border-box;
          position: relative;
          display: block;
          min-height: 48px;
          padding: 16px;
          background-color: #fff;
          color: #333;
          font-size: 14px;
          a{ 
            color: #333;
          }
          i.fa-angle-right {
            position: absolute;
            top: 50%;
            right: 16px;
            color: #ccc;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            -webkit-transition: all ease-out .2s;
            transition: all ease-out .2s;
            }
        }
      }
    }
  }