.exhibit_main_pagging{
  padding: 40px;
  &__image{
    font-size: 16px;
    font-weight: 600;
    &__right{
      background: $red;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color:$white;
      font-size: 12px;
      vertical-align: top;
    }
  }
  &__up{
    margin: 8px 0 0;
    line-height: 1.5;
  }
  &__date{
    display: block;
    width: 620px;
    margin: 0 auto;
    &__content{
    padding: 40px;
    margin-left: 0;
    position: relative;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
  p{
    margin: 10px auto;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: block;
    font-weight: 600;
    display: inline-block;
    width: 280px;
   }
  }
}
}
.exhibit_box{
  position: relative;
  padding: 40px;
  border-top: 1px solid #eee;

  &____name{
    margin: 0;
    font-weight: 600;
  }
  &__explanation{
    margin: 40px 0 0;
  }
  &__text{
    a{
      color: $blue;
    }
  }
  &__btn{
    margin: 40px 0 0;
    background: $red;
    border: 1px solid $red;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    a{
      color: $white;
    }
  }
  &__back{
    width: 45%;
    margin: 24px auto 0;
    background: #aaa;
    border: 1px solid #aaa;
    color: $white;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    a{
      color: $white;
    }
  }
  &__grey{
    color: #888;
    font-size: 14px;
    font-weight: 600;
  }
  &__list{
    width: 400px;
    margin-left: auto;

    &__top{
      margin: 20px 0 0;
    }
    &__bottom{
      margin: 8px 0 0;
      &__icon{
      position: absolute;
      right: 60px;
      top: 100px;
      }
      &__icon2{
      position: absolute;
      right: 60px;
      top: 190px;
      }
      &__icon3{
        position: absolute;
        right: 60px;
        top: 280px;
      }
    }
  &__fees{
    padding: 24px 0;
    border-top: 1px solid #ccc;
    &__fee__right{
      margin-left: auto;
    }
  }
  &__prices{
    padding: 0 0 24px;
    border: 0;
    &__price{
      &__right{
        margin-left: auto;
        &__text{
          margin-top: auto;
        }
      }
    }
  }
  
  &__profits{
    padding: 24px 0;
    border-top: 1px solid #ccc;
    &__profit__left{
      font-size: 16px;
      font-weight: 600;
    }
    &__profit__right{
      margin-left: auto;
      font-size: 34px;
      font-weight: 600;
    }
  }
  }
}
.fontweigth{
  font-weight: 600;
}
.select-exhibit{
  background: $white;
  height: 48px;
  width: 400px;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
.exhibit_box__lists{
  margin-left:auto;
}
.input-price{
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  display: inline-block;
  width: 80%;
  margin: 0 0 0 5%;
  line-height: 16px;
}
.f_input{
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border:1px solid #ccc;
  background: $white;
  line-height: 1.5;
  font-size: 16px;
  width:-webkit-fill-available;
   word-wrap: break-word;
}
.f_textarea{
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border:1px solid #ccc;
  background: $white;
  line-height: 1.5;
  font-size: 16px;
  width:-webkit-fill-available;
   word-wrap: break-word;
   display: block;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}
.item_error_message{
  color: $red;
  margin: 8px 0 0;
  &__price{
    color: $red;
  margin: 8px 0 0;
  }
}

.f_input_image{
  display: none;
}
.error_images{
  color: #ea352d;
  margin: 8px 0 0;
}