.l-chapter-head {
  font-size: 24px;
  padding: 8px 24px;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  font-weight: bolder;
  &__h2 {
    font-size: 22px;
    line-height: 1.4;
  }
}
 .form {
   display: block;
 }
 .setting-profile-icon {
  padding: 72px 16px 24px;
  background-image: url( "mypage-haikei.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 0;
 }
 .setting-profile-icon figure {
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}

.setting-profile-icon .input-default {
  width: 220px;
  margin: 0 0 0 8px;
  vertical-align: middle;
}
.setting-profile-content {
  padding: 40px 16px;
}
.textarea-default {
  display: block;
  width: 647px;
  height: 216px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  .textarea {
    border-radius: 0;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
  }
}

.form-arbitrary {
  background: #ccc;
}
.form-require, .form-arbitrary, .message-is-seller, .news-private {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.select-prefectures2 {
  width: 605px;
  height: 68px;
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: white;
  line-height: 1.5;
  font-size: 16px;
}