.single-main_time{
  background: lemonchiffon;
  padding: 50px;
  text-align: center;
  color: $red;
  font-size: 16px;
  font-weight: 600;
}
.l-single-content_topbtn{
  padding: 16px;
  border: 1px solid $red;
  text-align: center;
  background: $red;
  a{color:$white;}
  margin: 30px;
}