.iteme_page_main{
  padding: 24px 40px 40px;
  background: #fff;
  margin: 40px auto 0;
  width: 620px;
  &__name{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
  }
  &__view{
    margin: 16px 0 0;
    
  }
}
.iteme_page_main__view_left{
  float: left;
  min-width: 300px;
  max-width: 300px;
  min-height: 375px;
  background: #fafafa;
}
.iteme_page_main__view_left_image{
  width: 300px;
  height: 300px;
  background: palevioletred;

}
.iteme_page_main__view_left_imagess{
  &__image{
    width: 60px;
    height: 60px;
    max-height: none;
    background: pink;
  }
}

.iteme_page_main__view_right{
  float: right;
  max-width: 300px;
  height: 420px;
  margin: 0 auto;
  width: 100%;
  &__box{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
}
.iteme_page_main__view_right__box_left{
  width: 39%;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
}
.iteme_page_main__view_right__box_right{
  width: 61%;
  background: $white;
  font-weight: 400;
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
}

.item_page_face{
  display: inline-block;
  margin: 8px 0 0 16px;
  &__icon{
    content: '\e016';
    font-size: 16px;
    vertical-align: middle;
  }
}



.iteme_page_main__price{
  margin: 24px 0 0;
  text-align: center;
  &__yen{
  margin: 0 16px 0 0;
  font-size: 50px;
  font-weight: 600;
  display: inline-block;
  }
  &__tex{
    font-size: 10px;
    display: inline-block;
  }
  &__postage{
    font-size: 16px;
    display: inline-block;
  }
}
.buy_btn{
  font-size: 24px;
  line-height: 60px;
  margin-top: 16px;
  background: $red;
  color: $white;
  text-align: center;
  font-weight: 600;
}
.item_buyer_comment{
  padding: 32px 0 0;
  line-height: 1.5;
  font-size: 18px;
  white-space: pre-wrap;
}
.item_btn_list{
  margin: 16px 0 0;
  font-size: 0;
}
.item_btn_list_left{
  float: left;
  &__like{
    min-height: 1.5em;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 40px;
    transition: all ease-out .3s;
    color: $black;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    font-size: 14px;
  }
  &__inappropriate{
    min-height: 1.5em;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 40px;
    transition: all ease-out .3s;
    color: $black;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    font-size: 14px;
    margin: 0 0 0 16px;
  }
}

.item_btn_list_relief{
  margin-top: 8px;
  float: right;
  font-size: 14px;
  color: $blue;

}

.item_comments{
  width: 700px;
  margin: 8px auto;
  background:$white;
  &__texts{
    padding: 24px;
  }
}
.item_comments_note{
  padding: 8px;
    font-size: 14px;
    background: #fff6de;
}
.item_comments_textarea{
  margin: 8px 0 0;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}
.item_comments_btn{
  width: 100%;
  margin: 8px 0 0;
  text-align: center;
  background: #aaa;
  border: 1px solid ;
  line-height: 48px;
  color: $white;
  border: 1px solid #aaa;
}
.items_select{
  margin: 24px auto 0;
  width: 700px;
  color:$blue;
  position: relative;
  &__left{
    display: inline-block;
  }
  &__right{
    display: inline-block;
    position: absolute;
    right: 0;
  }
}
.items_iconss.clearfix{
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: $white;
  &__line{
    text-align: center;
    font-size: 14px;
  }
}
.items_iconss{
  margin: auto;
}
.items_icons{
   margin: 16px 0 0;
    text-align: center;
    &__facebook{
    width: 44px;
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
    background: navy;
    display: inline-block;
    margin: 0 8px 8px 0;
    vertical-align: middle;
    text-align: center;
    text-align: center;
    }
    &__twitter{
      width: 44px;
      height: 44px;
      border-radius: 4px;
      line-height: 44px;
      background:#0099e8;
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      text-align: center;
    }
    &__pinterest{
      width: 44px;
      height: 44px;
      border-radius: 4px;
      line-height: 44px;
      background:brown;
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      text-align: center;
    }
}
.user_another_items{
  width: 700px;
  margin: 0 auto;
  flex-wrap: wrap;
  &__title{
    font-size: 22px;
    margin: 24px 0 8px;
    color:$blue;
    font-weight: 600;
}
  }

.user_another_item{
  width: auto;
  ;
}
.user_another_item_boxs{
  width: 220px;
  margin: 0 20px 20px 0;
  &__box{
    height: 100px;
  }
}
.user_another_item_boxsss{
  width: 220px;
  margin: 0 0 20px 0;
}
.item_page_bottom{
  background: #f5f5f5;
  box-shadow: none;
  border-top: 1px solid #eee;
  &__box{
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;

  }
}
.item_page_bottom_merkari{
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  &__right{
    position: relative;
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
  &__second{
    font-size: 14px;
    display: inline-block;
    line-height: 1.2;
    font-weight: 600;
  }
}